Debug/
.svn/
.metadata/
.settings/
deps/
bins/
help_debug/
horos
*.o
*~
*.d
*.log
.gdbinit
INSTALL
missing
*so
*so.*
*.a
*.dep
*.pcap
*.png
*.jpeg
*.jpg
*.svg
*.gif
*.html
*.htm
*.pcap
/core*
/group_chat/group_chat

!readline
